@import "bootswatch/dist/flatly/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/flatly/bootswatch";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.css";
@import "datatables.net-scroller-bs5/css/scroller.bootstrap5.css";

html,
body {
  height: 100%;
}

.h-0 {
  height: 0;
}

.w-0 {
  width: 0;
}
